#enterprise_suite{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70vh;
    width: 91.5vw;
    background-color: #19544d;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 60px;
}

.enterprise_suite_text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.enterprice_suite_img img{
    height: 70vh;
    width: 30vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1.5;
}

.enterprise_first_text{
    /* margin-left: 30px; */
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.this_is_text{
    /* margin-left: 30px;
    margin-top: 30px; */
    color: #fff;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.good_companies_text{
    width: 29vw;
    font-weight: 550;
    /* margin-left: 30px; */
    /* margin-top: 10px; */
    color: #8fe3b1;
    font-size: 50px;
    text-align: start;
}

.access_the_normal_text{
    /* margin-left: 30px;
    margin-top: 20px; */
    font-size: 20px;
    width: 45vw;
    color: #fff;
}

.enter_prise_icon_text{
    display: flex;
    justify-content: start;
    flex-direction: row;
    /* margin-top: 20px;
    margin-left: 20px; */
}

.enter_prise_icon_text .fa-wand-magic-sparkles{
    height: 30px;
    width: 30px;
    color: #8fe3b1;
}

.enter_prise_icon_text .fa-briefcase{
    height: 30px;
    width: 30px;
    color: #8fe3b1;
}

.enter_prise_icon_text .fa-headphones-simple{
    height: 30px;
    width: 30px;
    color: #8fe3b1;
}

.enter_prise_icon_text p{
    color: #fff;
}

.enter_prise_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
    background-color: #fff;
    border-radius: 30px;
}

.enter_prise_btn a{
    text-decoration: none;
}

.enter_prise_btn:hover{
    background-color: #f0f9f0;
}

