#for_client{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
}

.for_client_background_image{
    background-image: url("../assets/images/find-talent-mobile-2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 73vh;
    width: 90vw;
    border-radius: 10px;
    opacity: 0.6 #000;
}

.for_telent_text{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    width: 27vw;
    flex-direction: column;
    padding-left: 40px;
}

.for_text{
    color: #fff;
    font-size: 25px;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.find_talent_text{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.work_with_the_largest_text{
    font-size: 20px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.for_telent_box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
}

.post_a_job_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #158900;
    height: 160px;
    width: 400px;
    border-radius: 10px;
}

.post_a_job_heading{
    padding-left: 20px;
    background-color: #158900;
    font-size: 34px;
    width: 14.8vw;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.post_a_job_text{
    color: #fff;
    font-size: 18;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post_a_job_heading_controller{
    padding-left: 20px;
    font-size: 34px;
    width: 25vw;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
