#home{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.home_text{
    width: 50vw;
    height: 100vh;
}

.home_image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.home_text{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    padding-left: 80px;
}

.How_work_should{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* height: 450px; */
    width: 35vw;
    margin-top: 70px;
}

.How_work_should_heading{
    font-size: 80px;
    color: #12a800;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.How_work_should_text{
    font-size: 25px;
}

.get_start_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 30px;
    height: 40px;
    width: 130px;
    align-items: center;
}

.get_start_btn:hover{
    background-color: #12a800;
}

.get_start_btn a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.text_trusted p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Trusted{
    display: flex;
    flex-direction: column;
}

.image_trusted{
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 30vw;
    gap: 40px;
}



.home_image img{
    height: 450px;
    width: 450px;
}

